header {
  background: black;
  width: 50vw;
  position: sticky;
  top: 0;
}
footer {
  width: 50vw;
}

.logo {
  width: 100px;
}

.logo:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.first-nav {
  color: red;
  display: flex;
}

.first-nav img {
  width: 15px;
  height: 15px;
}

.second-nav {
  color: red;
  background: #aaa;
}
